<?xml version='1.0'?>
<xefis-config version='1.0'>
	<settings>
		<setting name='navaids.enable' value='false'/>
		<setting name='scale.pen' value='0.92'/>
		<setting name='scale.font' value='1.0'/>
	</settings>
	<modules>
		<include name='comm/link.xml'/>
		<include name='comm/udp.xml'/>
		<include name='hardware/joystick.xml'/>
		<include name='systems/state.xml'/>
		<include name='systems/adc.xml'/>
		<include name='systems/nc.xml'/>
		<include name='systems/pc.xml'/>
		<include name='systems/rcms.xml'/>
		<include name='systems/afcs.xml'/>
		<include name='systems/altacq.xml'/>
		<include name='systems/eta.xml'/>
		<include name='systems/flaps.xml'/>
		<include name='systems/vor.xml'/>
		<include name='systems/trim-control.xml'/>
		<include name='helpers/fma.xml'/>
		<include name='helpers/navaids.xml'/>
		<include name='helpers/position.xml'/>
	</modules>
	<windows>
		<window width='1666' height='960' full-screen='false'>
			<layout type='horizontal'>
				<item stretch-factor='1366'>
					<layout type='vertical'>
						<item stretch-factor='12'>
							<layout type='horizontal'>
								<item stretch-factor='4'>
									<include name='instruments/pfd.xml'/>
								</item>
								<separator/>
								<item stretch-factor='4'>
									<include name='instruments/mfd.xml'/>
								</item>
							</layout>
						</item>
						<item stretch-factor='3'>
							<include name='panels/mcp.xml'/>
						</item>
					</layout>
				</item>
				<item stretch-factor='300'>
					<include name='panels/main.xml'/>
				</item>
			</layout>
		</window>
	</windows>
</xefis-config>

