<?xml version='1.0'?>
<xefis-config version='1.0'>
	<settings>
		<setting name='navaids.enable' value='false'/>
	</settings>
	<airframe>
		<include name='airframe.xml'/>
	</airframe>
	<modules>
		<include name='comm/link.xml'/>
		<include name='comm/udp.xml'/>
		<include name='sensors/flightgear.xml'/>
		<include name='systems/adc.xml'/>
		<include name='systems/altacq.xml'/>
		<include name='systems/nc.xml'/>
		<include name='systems/pc.xml'/>
		<include name='systems/fbw.xml'/>
		<include name='systems/fd.xml'/>
		<include name='systems/flaps.xml'/>
		<include name='systems/at.xml'/>
		<include name='systems/trim-mixer.xml'/>
	</modules>
	<windows>
		<window width='400' height='500' full-screen='false'>
			<layout type='vertical'>
				<item>
					<instrument name='instruments/label'>
						<label>AIRCRAFT COMPUTER</label>
						<align>hcenter vcenter</align>
						<color>#4bf</color>
						<font-size>20</font-size>
					</instrument>
				</item>
			</layout>
		</window>
	</windows>
</xefis-config>

