<?xml version='1.0'?>
<xefis-config version='1.0'>
	<settings>
		<setting name='update-frequency' value='100 Hz'/>
		<setting name='navaids.enable' value='false'/>
	</settings>
	<modules>
		<include name='aircraft/comm/link.xml'/>
		<include name='aircraft/comm/udp.xml'/>
		<include name='aircraft/sensors/ahrs.xml'/>
		<include name='aircraft/sensors/airspeed.xml'/>
		<include name='aircraft/sensors/bmp085.xml'/>
		<include name='aircraft/sensors/slip-skid.xml'/>
		<include name='aircraft/hardware/pwm.xml'/>
	</modules>
</xefis-config>

